@use '../settings/functions' as *;
@use '../settings/mixins' as *;
@use '../settings/variables' as *;

// Map des directions
$directions: (
	'': '',           // p-m  = padding
	't': '-top',      // pt-m = padding-top
	'r': '-right',    // pr-m = padding-right
	'b': '-bottom',   // pb-m = padding-bottom
	'l': '-left',     // pl-m = padding-left
	'x': '-inline',   // px-m = padding-inline (left + right)
	'y': '-block'     // py-m = padding-block (top + bottom)
);

// Générer les classes de padding
@each $name, $value in $spacings {
	.p-#{$name}{padding: $value}
	.pt-#{$name}{padding-top: $value}
	.pt-#{$name}{padding-top: $value}
	.pr-#{$name}{padding-right: $value}
	.pb-#{$name}{padding-bottom: $value}
	.pl-#{$name}{padding-left: $value}
	.ph-#{$name}{padding-right: $value; padding-left: $value;}
	.pv-#{$name}{padding-top: $value; padding-bottom: $value;}
}

// Pareil pour margin
@each $name, $value in $spacings {
	.m-#{$name}{margin: $value}
	.mt-#{$name}{margin-top: $value}
	.mr-#{$name}{margin-right: $value}
	.mb-#{$name}{margin-bottom: $value}
	.ml-#{$name}{margin-left: $value}
	.mh-#{$name}{margin-right: $value; margin-left: $value;}
	.mv-#{$name}{margin-top: $value; margin-bottom: $value;}
}

// Alignement vertical
.align-start { align-items: start; }
.align-center { align-items: center; }
.align-end { align-items: end; }
.align-stretch { align-items: stretch; }

// Alignement horizontal
.justify-start { justify-items: start; }
.justify-center { justify-items: center; }
.justify-end { justify-items: end; }
.justify-stretch { justify-items: stretch; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }