@use 'variables' as *;

@use "sass:color";

// Darken une couleur neon (baisse la luminosité)
@function neon-dark($color, $amount: 40%) {
	@return color.scale($color, $lightness: -$amount);
}

// Version encore plus sombre
@function neon-darker($color, $amount: 60%) {
	 @return color.scale($color, $lightness: -$amount);
}

// Ou avec HSL pour plus de contrôle
@function neon-dimmed($color, $lightness: 30%) {
	@return hsl(hue($color), saturation($color), $lightness);
}

@function space($size) {
	@return map-get($spacings, $size);
}