@use 'settings/variables' as *;
@use 'settings/functions' as *;

#debug {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
}

.debug-btn-containe-master {
	vertical-align: top;
	text-align: left;
	display: inline-block;
	background: $bg-primary;
	border: 1px solid $border-color;
	bottom: 0;
}

.debug-btn-containe {
	margin: 0;
}

.debug-var {
	color: $neon-yellow;
}

.debug-keyword {
	color: $neon-cyan;
}

.debug-integer {
	color: $neon-pink;
}

.debug-source {
	color: neon-darker($neon-green,50%);
}

.debug-text {
	color: $neon-green;
}

.debug-php {
	color: $neon-orange;
}

.debug-message {
	background-color: $bg-secondary;
	color: $neon-magenta;
	border: solid 1px $border-color;
	font-size: $size-m;
	border-radius: 4px;
	padding: $p-xs;
	font-family: $font;
}

.debug-message pre {
	padding-top: $p-s;
	color: $text-primary;
	font-family: 'consolas', monospace;
}

/*--------------Error------------------*/
#Error {
	width: 80%;
	margin: auto;
}
#Error header{
	margin-bottom: 8px;
}
#Error .debug-message{
	border: none;
}
.legend{
	color: $text-muted;
	line-height: 20px;
	font-size: $size-l;
}


.trace-list{
	.trace{
		display: block;
		width: 100%;
		background-color:$bg-primary;
		border-bottom: 1px solid $neon-purple;
		padding: $p-s;
		&:nth-child(odd) {
			background-color: rgba($bg-tertiary, 0.5);
		}
		
		&:nth-child(even) {
			background-color: transparent;
		}
	}
}

span[class*="trace-"]{
	display: inline-block;
	line-height: 20px;
	margin: 2px;
}
.trace-args{
	text-align: left;
	//display: none;
}
.trace-type,
.trace-function{
	color: $neon-cyan;
}
.trace-class{
	color: $neon-green;
}
.trace-line{
	color: $neon-pink;
}