

@font-face {
	font-family: 'Audiowide';
	src: url('/fonts/Audiowide-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Electrolize';
	src: url('/fonts/Electrolize-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
