@use '../settings/functions' as *;
@use '../settings/mixins' as *;
@use '../settings/variables' as *;
@use '../settings/animations' as *;


#Header{
	overflow: hidden;

	.layout-header{
		padding:$p-m $p-xl;
		background-color: $bg-primary;
	}

	.main-title{
		font-family: $font-title;
		font-size: $size-6xl;
		font-weight: 400;
		line-height: 1.2;
		z-index: 1;

		background: $neon-gradient;
		background-size: 200% 100%;

		text-decoration: none;

		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;

		animation: rainbow-slide 6s linear infinite;

		// Shadow (utilise un pseudo-element car filter casse le clip)
		position: relative;
		&::before {
			content: 'SkankyHome';
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;

			background: $neon-gradient;
			background-size: 200% 100%;

			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			
			filter: blur(20px);
			
			animation: rainbow-slide 6s linear infinite;
		}
	}
}

#Contents{
	padding:$p-m $p-xl;
}

.page-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.page-title{

}
.page-action{

}

#Footer{

}
